<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Global Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Global Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Acl Feature">
            <directory suffix="Test.php">./domains/Acl/tests/Feature</directory>
        </testsuite>

        <testsuite name="Acl Unit">
            <directory suffix="Test.php">./domains/Acl/tests/Unit</directory>
        </testsuite>

        <testsuite name="Pizza Feature">
            <directory suffix="Test.php">./domains/Pizza/tests/Feature</directory>
        </testsuite>

        <testsuite name="Pizza Unit">
            <directory suffix="Test.php">./domains/Pizza/tests/Unit</directory>
        </testsuite>

        <testsuite name="Category Feature">
            <directory suffix="Test.php">./domains/Category/tests/Feature</directory>
        </testsuite>

        <testsuite name="Category Unit">
            <directory suffix="Test.php">./domains/Category/tests/Unit</directory>
        </testsuite>
        
        <testsuite name="Ingredient Feature">
            <directory suffix="Test.php">./domains/Ingredient/tests/Feature</directory>
        </testsuite>

        <testsuite name="Ingredient Unit">
            <directory suffix="Test.php">./domains/Ingredient/tests/Unit</directory>
        </testsuite>
        
        <testsuite name="Order Feature">
            <directory suffix="Test.php">./domains/Order/tests/Feature</directory>
        </testsuite>

        <testsuite name="Order Unit">
            <directory suffix="Test.php">./domains/Order/tests/Unit</directory>
        </testsuite>
        
        <testsuite name="Size Feature">
            <directory suffix="Test.php">./domains/Size/tests/Feature</directory>
        </testsuite>

        <testsuite name="Size Unit">
            <directory suffix="Test.php">./domains/Size/tests/Unit</directory>
        </testsuite>

        <testsuite name="Table Feature">
            <directory suffix="Test.php">./domains/Table/tests/Feature</directory>
        </testsuite>

        <testsuite name="Table Unit">
            <directory suffix="Test.php">./domains/Table/tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
